'.source.js':
    'angular-app':
        'prefix': 'angular-app'
        'body': """
        angular.module("app", () => [
        ]);
        """

    'angular-controller':
        'prefix': 'angular-controller'
        'body': """
        angular.module("controller", () => {
        });
        """

    'angular-directive':
        'prefix': 'angular-directive'
        'body': """
        angular.module("directive", () => {
            return {
                scope: {
                    message: '='
                },
                template: '<div></div>',
                controller: function () {
                    this.message = 'Thomas directive';
                },
                controllerAs: '$ctrl',
                bindToController: true
            };
        });
        """

    'angular-component':
        'prefix': 'angular-component'
        'body': """
        angular.module("component", {
                bindings: {
                    message: '='
                },
                template: '<div></div>',
                controller: function () {
                    this.message = 'Thomas directive';
                }
        });
        """

    'angular-filter':
        'prefix': 'angular-filter'
        'body': """
        angular.module("filter", () => {
            return (input, option1) => {
                return input + option1;
            };
        });
        """
