"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d4736ea2-6d5d-4e45-b8fc-f2e72cbc851c"
    js: {}
  "atom-jshint": {}
  "autoclose-html": {}
  "browser-refresh-on-save":
    scripts: {}
  core:
    packagesWithKeymapsDisabled: [
      "refactor"
      "tree-view"
      "atom-quoter"
      "hide-files"
      "genesis-ui"
      "git-projects"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 140
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "a3a46bc9-7363-c431-d2cc-91a1d32cecf8"
  "find-and-replace":
    focusEditorAfterSearch: true
  "fuzzy-finder": {}
  "genesis-ui":
    distractionFree:
      hideBottom: false
      hideTabs: false
  "git-blame":
    columnWidth: 472
  "git-projects":
    rootPath: "/Users/thomasquinlan/Websites/2016; /Users/tom/Projects;"
  "goto-definition":
    rightMenuDisplayAtFirst: false
  "highlight-selected": {}
  "linter-jshint": {}
  minimap: {}
  "npm-install": {}
  pigments: {}
  "save-session":
    dataSaveFolder: "/Users/thomasquinlan/.atom/packages/save-session/projects"
  "seti-ui":
    compactView: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs: {}
  "terminal-plus":
    core: {}
    style:
      theme: "dracula"
  "tree-ignore": {}
  "tree-view": {}
  "tree-view-git-status": {}
  "tree-view-open-files": {}
  "unity-dark-ui":
    colorStatusIndicatorsInTreeView: true
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 115
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 115
    tabLength: 4
".git-commit.text":
  editor:
    preferredLineLength: 140
    tabLength: 4
".git-config.source":
  editor:
    preferredLineLength: 140
    tabLength: 4
".git-rebase.text":
  editor:
    preferredLineLength: 140
    tabLength: 4
